<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboottext.mapper.LeaveWordsMapper">

    <insert id="insert">
        INSERT INTO leave_words
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="userId != null">
                    user_id,
                </if>
                <if test="content != null">
                    content,
                </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="userId != null">
                    #{userId},
                </if>
                <if test="content != null">
                    #{content},
                </if>
        </trim>
    </insert>
    <update id="updateByid">
        UPDATE leave_words
        <set>
                    <if test="userId != null">
                        user_id = #{userId}
                           <if test="content != null or creationTime != null or modificationTime != null">,</if>
                    </if>
                    <if test="content != null">
                        content = #{content}
                           <if test="creationTime != null or modificationTime != null">,</if>
                    </if>
                    <if test="creationTime != null">
                        creationTime = #{creationTime}
                           <if test="modificationTime != null">,</if>
                    </if>
                    <if test="modificationTime != null">
                        modificationTime = #{modificationTime}
                    </if>
        </set>
        <where>
                    id = #{id}
        </where>
    </update>
</mapper>
