<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboottext.mapper.WebviewMapper">

    <insert id="insert">
        INSERT INTO webview
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">
                    id,
                </if>
                <if test="ip != null">
                    ip,
                </if>
                <if test="time != null">
                    time,
                </if>
                <if test="address != null">
                    address,
                </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">
                    #{id},
                </if>
                <if test="ip != null">
                    #{ip},
                </if>
                <if test="time != null">
                    #{time},
                </if>
                <if test="address != null">
                    #{address},
                </if>
        </trim>
    </insert>
    <update id="updateByid">
        UPDATE webview
        <set>
                    <if test="ip != null">
                        ip = #{ip}
                           <if test="time != null or address != null">,</if>
                    </if>
                    <if test="time != null">
                        time = #{time}
                           <if test="address != null">,</if>
                    </if>
                    <if test="address != null">
                        address = #{address}
                    </if>
        </set>
        <where>
                    id = #{id}
        </where>
    </update>
</mapper>
